<h2>Projects</h2>
<table class="table">
    <thead>
    <tr>
        <th>Project</th>
        <th>Pipeline Create Date</th>
        <th>Pipeline Branch</th>
        <th>Pipeline Status</th>
        <th>Task Date</th>
        <th>Task Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in projects">
        <td>
            <a href="#/projects/{{project.id}}"> {{ project.name }} </a>
        </td>
        <td> {{ project.last_status.start_date }}</td>
        <td> {{ project.last_status.name }}</td>
        <td class="{{ project.last_status.status == 'failed' ? 'danger' : project.last_status.status == 'ready' ? 'success' : 'warning' }}"> {{ project.last_status.status }}</td>
        <td> {{ project.last_status.date }}</td>
        <td> {{ project.last_status.task }}</td>
    </tr>
    </tbody>
</table>

